.board {
  width: fit-content;
  margin: 10px;
  text-align: center;
}

.board .game {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

.clue{
  display: flex;
  flex-direction: column;
}

.clue .border:first-child {
  background-image: url('/src/images/finish-line.webp');
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.players{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
  justify-content: space-around;
  gap: 5px;
  align-items: center;
  align-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.players p{
  font-size: 1.5rem;
  color: black;
}

.pills div p:nth-child(-n + 4){
  border: 2px solid rgb(243, 223, 46);
  border-radius: 18px;
  background: linear-gradient(45deg, #f3ec78, #db7b2b), rgba(0, 0, 0, 0.6);
}

.h2{
  background-color: red;
  background-image: linear-gradient(45deg, #f3ec78, #db7b2b);
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}