.square {
  min-width: 120px;
  height: 180px;
  border-radius: 5px;
  display: grid;
  place-items: center;
  cursor: pointer;
  font-size: 28px;
  visibility: visible;
}

.border{
  border-top: 3px dotted #000000;
  border-left: 3px dotted transparent;
}
.is-visible{
  visibility: visible;
}


@media (max-width: 680px) {
  .square {
    min-width: 70px;
    height: 120px;
    font-size: 18px;
  }
}

@media (max-width: 460px) {
  .square {
    min-width: 40px;
    height: 80px;
    font-size: 8px;
  }
}

